{%extends 'layout.html'%}
{%block body%}
<form action="/update/{{Info.0}}" method ="POST">
    <input type="text" class="form-control" name="NombrePaciente" placeholder="NombrePaciente" value="{{Info.1}}">
    <input type="text" class="form-control" name="ApellidoPaciente" placeholder="ApellidoPaciente" value={{Info.2}}>      
    <input type="text" class="form-control" name="Telefono" placeholder="Telefono" value={{Info.3}}> 
    <input type="text" class="form-control" name="Doctor" placeholder="Doctor" value={{Info.4}}> 
    <input type="text" class="form-control" name="Fecha" placeholder="Fecha" value={{Info.5}}>   
    <input type="text" class="form-control" name="Observaciones" placeholder="Observaciones" value={{Info.6}}> 
    <button type="submit">
        Save
    </button>
 </form>

{%endblock%}
